$breakpoint-tablet: 768px;

.layout {
  display: flex;
  flex-direction: row;

  main {
    position: relative;
    // background-image: url(/Assets/images/pacman-bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: 100vh;
    height: -webkit-fill-available;
    padding-left: 110px;
    color: white;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .layout {
    main {
      justify-content: flex-start;
      flex: none;
      // min-height: 100vh;
      width: 100vw;
      padding-bottom: 70px;
      padding-left: 0;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
