$breakpoint-tablet: 768px;

.header {
  background-color: #252525;
  width: fit-content;
  height: 100vh;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // width: fit-content;
    width: 110px;
    height: 100%;

    .navitem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 30px;
      margin: auto;
      line-height: 0;
      font-size: 30px;
      font-weight: 600;
      font-family: "Nunito", sans-serif;
      // border-bottom: 1px solid black;
      border-bottom: none;
      transition: color, transform 250ms ease-out;

      span {
        display: none;
        margin: 0;
        margin-top: 15px;
        font-size: 0px;
        transition: font-size 250ms ease-out;
      }
    }

    .navitem:hover,
    .active {
      color: #dc474f;
      // border-bottom: 1px solid #dc474f;
      transform: scale(1.2);
      transition: color, transform 250ms ease-out;
      span {
        display: block;
        font-size: 16px;
        transition: height 250ms ease-out;
      }
    }

    .logo {
      width: fit-content;
      height: fit-content;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 0.8rem;
      background-color: #dc474f;

      .profile_pic {
        width: 110px;
        height: 147px;
        background-color: #fff;
        margin-bottom: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 90px;
          height: auto;
        }
      }
    }
    // .home {

    // }
    .socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #dc474f;
      height: fit-content;
      width: inherit;
      margin-top: auto;
      padding: 5px;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .header {
    background-color: #252525;
    height: fit-content;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 10;
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: fit-content;
      width: 100%;
      max-width: none;
      min-width: none;
      .navitem {
        font-size: 30px;
        border-bottom: none;
        padding: 20px 0;
        span {
          display: none;
        }
      }
      .navitem:hover,
      .active {
        span {
          display: none;
        }
      }
      .logo {
        display: none;
        width: fit-content;
      }
      .profile_pic {
        width: 100px;
        height: 100px;
      }
      .socials {
        display: none;
      }
    }
  }
}
