.project {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  background-color: #252525;
  padding: 10px;
  margin: 15px auto;
  border-radius: 5px;

  img {
    margin-bottom: 10px;
  }

  .metaData {
    display: flex;

    > span {
      font-size: 16px;
    }
    .tag {
    }
    .cta {
      display: flex;
      flex-direction: column;
    }
  }
}
