.project {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: fit-content;
  background-color: #252525;
  padding: 10px;
  margin: 15px auto 30px;
  border-radius: 5px;

  > p {
    margin: 0;
    margin-bottom: 10px;
  }

  .imgContainer {
    width: 100%;
    aspect-ratio: 1280/591;
    overflow: hidden;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }

  .metaData {
    display: flex;

    .details {
      display: flex;
      flex-direction: column;
      > span {
        font-size: 15px;
      }
      .tag {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: auto;
        span {
          border-radius: 5px;
          padding: 5px 10px;
          border: 1px solid white;
          font-size: 12px;
          margin-right: 10px;
          margin-top: 5px;
        }
      }
    }
    .cta {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      button {
        position: relative;
        height: fit-content;
        margin-top: 15px;
        border: 1px solid #dc474f;
        border-radius: 1px;
        background-color: transparent;
        color: white;
        padding: 10px 15px;
        padding-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          position: absolute;
          right: 25px;
          opacity: 0;
          transition: opacity 1000 ease-in-out;
        }
      }
      button:hover {
        i {
          right: 10px;
          opacity: 1;
          transition: opacity 1000 ease-in-out;
        }
      }
    }
  }
}
