$breakpoint-tablet: 768px;

.home {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 15px;

  h1 {
    color: white;
    font-family: "Lobster", cursive;
    font-size: 5vw;
    // margin: 0;
    // margin-bottom: 5px;
  }
  h2 {
    font-family: "Nanum Pen Script", cursive;
    color: #a8a8a8;
    width: 60%;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
    font-size: 2rem;
    span {
      color: #fff;
    }
  }
  .profile_pic {
    display: none;
  }
}

.indicator {
  display: flex;
  position: absolute;
  top: 35px;
  left: 10px;
  color: #dc474f;
  font-size: 20px;
  font-family: "Nanum Pen Script", cursive;

  svg {
    transform: scaleX(-1) rotate(-20deg);
  }
}

@media (max-width: $breakpoint-tablet) {
  .home {
    flex: none;

    h2 {
      width: 90%;
    }
    .profile_pic {
      display: block;
      width: 35%;
    }
  }
  .indicator {
    display: flex;
    top: 125px;
    left: auto;
    right: 10px;
  }
}
